.rectangle {
  height: 100%;
  width: 100%;
  background-color: #555;
  padding-bottom: 5%;
}
.center {
  text-align: center;
}
.readerId {
  font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
  font-weight: normal;
  font-size: 1.75em;
  letter-spacing: .2em;
  line-height: 1.1em;
  margin: 0px;
  text-align: center;
  color: white;
  padding: 2%;
  text-transform: uppercase;
}

body {
  background: lightblue;
  text-align: center;
  box-sizing: border-box;
  font-family: "Lato",Sans-serif;
  /*   position:relative; */
}

.btn,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 2% 4%;
  border-radius: 100px;
  display: inline-block;
  transition: all .5s;
}

.btn-white {
  background: #fff;
  color: #000;
}

.btn:hover {
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  transform: translateY(-3px);
}

.btn:active {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transform: translateY(-1px);
}

.btn-bottom-animation-1 {
  animation: comeFromBottom 1s ease-out .8s;
}

.btn::after {
  content: "";
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100px;
  display: inline-block;
  z-index: -1;
  transition: all .5s;
}

.btn-white::after {
  background: #fff;
}

.btn-animation-1:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes comeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input[type="text"] {
  box-sizing: border-box;
  width: 50%;
  height: calc(4em + 1px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #ccc;
  background: #fff;
  resize: none;
  outline: none;
}

  input[type="text"][required]:focus {
    border-color: white;
  }

    input[type="text"][required]:focus + label[placeholder]:before {
      color: white;
    }

    input[type="text"][required]:focus + label[placeholder]:before,
    input[type="text"][required]:valid + label[placeholder]:before {
      transition-duration: .2s;
      transform: translate(0, -2.0em) scale(0.9, 0.9);
    }

  input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }

  input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
  }

    input[type="text"][required] + label[placeholder]:before {
      content: attr(placeholder);
      display: inline-block;
      margin: 0 calc(1em + 2px);
      padding: 0 2px;
      color: #898989;
      white-space: nowrap;
      transition: 0.3s ease-in-out;
      background-size: 100% 5px;
      background-repeat: no-repeat;
      background-position: center;
    }
