<h1 *ngIf="isAddMode">Tilføj Bruger</h1>
<h1 *ngIf="!isAddMode">Rediger Bruger</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label for="firstName">Fornavn</label>
      <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">Fornavn er nødvendigt</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="lastName">Efternavn</label>
      <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Efternavn er nødvendigt</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="username">Brugernavn</label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Brugernavn er nødvendigt</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="password">
        Password
        <em *ngIf="!isAddMode">(Efterlad tom hvis du vil gendandvende nuværende Password)</em>
      </label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password er nødvendigt</div>
        <div *ngIf="f.password.errors.minlength">Password skal minimun være 6 karakterer</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div *ngIf="token.Rolle > 2;else other_content" class="form-group col">
      <label for="region">Lokation</label>
      <select type="text" formControlName="region" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.region.errors }">
        <option value="Roskilde">Roskilde</option>
        <option value="Ringsted">Ringsted</option>
        <option value="Næstved">Næstved</option>
        <option value="Vordingborg">Vordingborg</option>
      </select>
      <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
        <div *ngIf="f.region.errors.required">Vælg en lokation</div>
      </div>
    </div>
    <ng-template #other_content>
      <div class="form-group col">
        <label for="region">Lokation</label>
        <input type="text" formControlName="region" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.region.errors }" readonly>
        <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
          <div *ngIf="f.region.errors.required">Vælg en lokation</div>
        </div>
      </div>
    </ng-template>
    <div class="form-group col">
      <label for="rolle">Rolle</label>
      <select type="text" formControlName="rolle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rolle.errors }">
        <option value="Bruger">Bruger</option>
        <option value="Admin">Lokations Admin</option>
        <option *ngIf="token.Rolle > 2" value="SuperAdmin">Super Admin</option>
      </select>
      <div *ngIf="submitted && f.rolle.errors" class="invalid-feedback">
        <div *ngIf="f.rolle.errors.required">Vælg en rolle</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Gem
    </button>
    <a routerLink="/users" class="btn btn-link">Annuller</a>
  </div>
</form>
