<h1>Bruger</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Tilføj Bruger</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 25%">Fornavn</th>
            <th style="width: 25%">Efternavn</th>
            <th style="width: 25%">Brugernavn</th>
            <th style="width: 25%">Region</th>
            <th style="width: 25%">Rolle</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.region}}</td>
            <td>{{user.rolle}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Rediger</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Slet</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>