<div class="rectangle">
  <p class="readerId">Tilføjelse af ny måler</p>
  <a routerLink="/adminComponent" class="btn btn-green btn-animation-1">Klik for at tilføje ny måler</a>
</div>
<br />
<div class="rectangle">
  <p class="readerId">Redigering af måler</p>
  <a routerLink="/adminEditComponent" class="btn btn-yellow btn-animation-1">Klik for at redigere en måler</a>
</div>
<br />
<div class="rectangle">
  <p class="readerId">Fjern måler</p>
  <a routerLink="/adminDeleteComponent" class="btn btn-red btn-animation-1">Klik for at fjerne en måler</a>
</div>
<br />

