<br />
<select class="select-css" #mySelect (change)="onSelectChange(mySelect.value)">
  <option *ngFor="let reader of readers" value="{{reader.readerNumber}}">{{reader.readerName}}</option>
</select>
<br>
<mat-form-field appearance="fill">
  <mat-label>Vælg dato længde</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start dato">
    <input matEndDate formControlName="end" placeholder="Slut dato">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker
                         startView="multi-year"
                         (yearSelected)="chosenYearHandler($event)"
                         (monthSelected)="chosenMonthHandler($event, picker)"
                         panelClass="example-month-picker"></mat-date-range-picker>

  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>

<app-clicked-stats [reader]="selectedReader">

</app-clicked-stats>


