<div class="p-4">
    <div class="container">
        <h1>Tilføj ny måler</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col">
                    <label for="readername">Måler Navn</label>
                    <input type="text" formControlName="readername" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.readername.errors }" />
                    <div *ngIf="submitted && f.readername.errors" class="invalid-feedback">
                        <div *ngIf="f.readername.errors.required">Måler Navn er nødvendigt</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="readernumber">Måler Nummer</label>
                    <input type="text" formControlName="readernumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.readernumber.errors }" />
                    <div *ngIf="submitted && f.readernumber.errors" class="invalid-feedback">
                        <div *ngIf="f.readernumber.errors.required">Måler Nummer er nødvendigt</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="readerUnit">Måler Enhed</label>
                    <select type="text" formControlName="readerUnit" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.readerUnit.errors }">
                      <option value="m3">m3</option>
                      <option value="kwh">kwh</option>
                      <option value="mwh">mwh</option>
                    </select>
                    <div *ngIf="submitted && f.readerUnit.errors" class="invalid-feedback">
                        <div *ngIf="f.readerUnit.errors.required">Måler Unit er nødvendigt</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="reading">Første måling</label>
                    <input type="text" formControlName="reading" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.reading.errors }" />
                    <div *ngIf="submitted && f.reading.errors" class="invalid-feedback">
                        <div *ngIf="f.reading.errors.required">Måler Nummer er nødvendigt</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
              <div *ngIf="token.Rolle > 2;else other_content" class="form-group col">
                <label for="location">Lokation</label>
                <select type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                  <option value="Roskilde">Roskilde</option>
                  <option value="Ringsted">Ringsted</option>
                  <option value="Næstved">Næstved</option>
                  <option value="Vordingborg">Vordingborg</option>
                </select>
                <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                  <div *ngIf="f.location.errors.required">Vælg en lokation</div>
                </div>
              </div>
              <ng-template #other_content>
                <div class="form-group col">
                  <label for="location">Lokation</label>
                  <input type="text" formControlName="region" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" readonly>
                  <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                    <div *ngIf="f.location.errors.required">Vælg en lokation</div>
                  </div>
                </div>
              </ng-template>
              <div class="form-group col">
                <label for="readerplacement">Placering</label>
                <input type="text" formControlName="placement" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.placement.errors }" />
                <div *ngIf="submitted && f.placement.errors" class="invalid-feedback">
                  <div *ngIf="f.placement.errors.required">Placering er nødvendigt</div>
                </div>
              </div>
            </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Tilføj måler
                    </button>
                    <a routerLink="/admin" class="btn btn-link">Annuller</a>
                </div>
        </form>  
    </div>
</div>
