<div class="container">
  <div class="form-group col">
    <h1>Fjern en måler</h1>
    <label for="readernumber">Skriv måler nummer her:</label>
    <input type="text" #readerNumber class="form-control" placeholder="Søgefelt" />
    <button (click)="searchForReader(readerNumber.value)">Søg</button>
    <a routerLink="/admin" class="btn btn-link">Annuller</a>
    <br />
    <br />
    <div *ngIf="readerFound; else elseBlock">
      <app-delete-reader [reader]="reader"></app-delete-reader>
    </div>
    <ng-template #elseBlock>Ingen måler fundet</ng-template>
  </div>
</div>
